/* All styles for your header Components live here */
.first-image img{
    position: relative;
    height: 50px;
    width: 50px;
    top: 40px;
}

.title h1 {
    font-size: 1rem;
    
}

.title h2 {
    font-size: 12px;
    color: gray;
    position: relative;
    top: 5px;
    left: 10px;
}

.title {
    display: flex;
    position: relative;
    left: 60px;
    bottom: 25px;
}

.title p {
    font-size: .8rem;
    position: relative;
    bottom: 15px;
    width: 500px;
}

.container {
    position: relative;
    left: 30%;
}